# Nessa aula vamos discutir a base dos comando do python

## 1 - Vamos começar trabalhando manipulando algumas variáveis

#### Podemos definir uma variável dando um nome para ela, da seguinte maneira

In [64]:
age = 30

#### Podemos imprimir o valor da variável, como?

In [65]:
print(age)

30

#### Podemos também imprimir a variável sem dar nome a ela.

In [66]:
print(30)

30

#### Porém quando temos uma variável com nome, temos a grande vantagem de poder mudar seu valor:

In [67]:
age = 30
print(age)
age = 40
print(age)

30
40

### Boas práticas em relação ao definirmos nomes de variáveis.

#### Nomes compostos de variáveis são separados por _ , esse padrão é conhecido como: snake_case in Python. Nomes não podem começar com números, porém podem conter números, se duas variáveis forém mudar de valores sempre usar letras minusculas.

In [68]:
friend_age = 23
countries_visited = 90

#### Se sua variável tiver um valor fixo escrever em letras maiusculas.

In [69]:
PI = 3.14159
RADIANS_TO_DEGREES = 180 / PI

### Vamos falar de números?

#### vamos ter dois tipos de número em python.

In [70]:
age = 35  # integer
PI = 3.14159  # float

#### adicionar o conceito de definição de variáveis

### Operações Matemáticas

#### Nada de especial acontece.

In [71]:
maths_operation = 1 + 3 * 4 / 2 - 2
print(maths_operation)

5.0

#### Se eu tenho apenas números de tipo inteiros por que o resultado foi um número de [tipo](https://www.tutorialspoint.com/python/python_variable_types.htm) float?

#### O resultado da divisão é sempre um float.

In [72]:
float_division = 12 / 3
print(float_division)

4.0

#### E a multiplicação?

In [73]:
multiplication = 3 * 2.5
multiplication

7.5

#### E se somarmos um inteiro com um float?

In [74]:
Soma_int_float = 2 + 3.0
Soma_int_float

5.0

#### A divisão inteira pode pegar somente a parte inteira da divisão.

In [75]:
integer_division = 12 // 3  # não é um tipo de arredondamento
print(integer_division)

4

#### E o [comando](https://www.freecodecamp.org/news/the-python-modulo-operator-what-does-the-symbol-mean-in-python-solved/) a seguir, alguém poderia explicar?

In [76]:
remainder = 12 % 5
print(remainder)

2

In [77]:
x = 37
remainder = x % 2
print(remainder)

1

#### Em quais situações esse tipo de comando nos ajuda?

### Variáveis podem ser palavras? Frases?

##### O [slice](https://www.digitalocean.com/community/tutorials/how-to-index-and-slice-strings-in-python-3) é uma operação muito comum em python.

In [78]:
my_string = "Hello, world!"
single_quote_string = 'Hello, world!'

In [79]:
str = 'Hello World!'

print (str)          # imprimi a string completa
print (str[0])       # imprimi o primeiro caracter da string
print (str[2:5])     # imprimi do terceiro ao quinto caracter
print (str[2:])      # imprimi os caracteres a partir do terceiro
print (str * 2)      # imprimi a string duas vezes

Hello World!
H
llo
llo World!
Hello World!Hello World!

In [80]:
string_with_quotes = "Hello, it's me."
another_with_quotes = 'He said "You are amazing!" yesterday.'

In [81]:
multiline = """
Hello, world.

My name is Jose. Welcome to my program.
"""

#### Vocẽs podem imprimir para ver como fica?

#### como juntar palavras formar frases? Por que esse procedimento é tão importante? Como você usaria ele no trabalho do dia a dia?

In [82]:
name = "Jose"
greeting = "Hello, " + name

#### É possível juntar número com uma palavra?

In [83]:
age = str(34)
age = "You are " + age
print(age)

TypeError: 'str' object is not callable

In [84]:
age = 34
another_greeting = f"I am {age}"
print(another_greeting)

I am 34

#### Há alguma [maneira diferente de fazer isso](https://pyformat.info/)?

In [85]:
age = 999
another_greeting = "I am {}".format(age)
print(another_greeting)

I am 999

#### Vamos atualizar o valor de age?

In [86]:
age = 78
print(another_greeting)

I am 999

#### Tem como solucionar esse problema?

In [87]:
another_greeting = "I am {age}"
final_greeting = another_greeting.format(age = 204)
print(final_greeting)

I am 204

### Quem sabe um pouco de interação

In [91]:
my_name = "Elis"
your_name = input("Enter your name: ")

print(f"Hello {your_name}. My name is {my_name}.")

Enter your name:  maria

Hello maria. My name is Elis.

In [92]:
age = int(input("Enter your age: "))
print(f"You have lived for {age * 12} months.")

Enter your age:  35

You have lived for 420 months.

#### Para brincar um pouco, calcule a quantidade de segundos ao invés de meses.

In [93]:
age = int(input("Enter your age: "))
print(f"You have lived for {age * 12 * 30 * 24 * 60 * 60} seconds.")

Enter your age:  27

You have lived for 839808000 seconds.

### Já tivemos um primeiro contato com as variáveis, agora podemos fazer algumas comparações?

#### Vamos ver os sinais de comparação mais importantes.

### A == B  (vamos verificar se A é igual a B)
### A > B (vamos verificar se A é maior que B)
### A < B (vamos verificar se B é maior que A)
### A >= B (vamos verificar se A é maior ou igual a B)
### A != B (Vamos verificar se A é diferente de B)

In [99]:
A = 150
B = 140
print("A == B:", A == B)
print("A > B:", A > B)
print("A < B:", A < B)
print("A >= B:", A >= B)
print("A <= B:", A <= B)
print("A != B:", A != B)

A == B: False
A > B: True
A < B: False
A >= B: True
A <= B: False
A != B: True

#### O comparativo vale palavras também? Vamos comparar a variável `my_name` com a variável `name`.

In [104]:
name = "EliS"
print("name == my_name:", name == my_name)

name == my_name: False

### E se for necessário utilizar multiplas condições?

In [105]:
name = "EliS"
name_2 = "Elis"
name_3 = "ElIs"

#### `or`: A ação será executada se alguma condição for satisfeita 
#### `and`: A ação será executada se todas condições forem satisfeitas

#### Vamos fazer um print [condicional]()?

In [106]:
if name == my_name or name_3 == my_name or name_2 == my_name:
    print (name)

EliS

#### Vamos fazer um print condicional?

In [107]:
if name == my_name and name_3 == my_name and name_2 == my_name:
    print (name)

#### E se em uma aplicação for necessário ter $1000$ nomes, vamos ter que definir $1000$ variáveis? Qual a melhor maneira? Podemos usar uma [lista](https://docs.python.org/2/tutorial/datastructures.html).

In [108]:
#maneira 1:
friend1 = "Rolf"
friend2 = "Bob"
friend3 = "Anne"

#maneira 2
friend = ["Rolf", 
          "Anne", 
          "Bob"]

#### Para imprimir elementos de uma lista, o primeiro elemento da lista é localizado pelo `index 0`, index = localizador.

In [109]:
print (friend[0])

Rolf

#### O comprimento de uma lista é dado pela função [`len()`](https://docs.python.org/pt-br/3/library/functions.html#len), uma das funções [`Built in`](https://docs.python.org/pt-br/3/library/functions.html) do Python.

In [110]:
len(friend)

3

#### O valor máximo contido em uma lista pode ser obtido com a função [`max()`](https://docs.python.org/pt-br/3/library/functions.html#max).

In [111]:
max(friend)

'Rolf'

#### O valor máximo contido em uma lista pode ser obtido com a função [`min()`](https://docs.python.org/pt-br/3/library/functions.html#min).

In [112]:
min(friend)

'Anne'

#### Podemos adicionar ou remover elementos com a função [`append()`](https://towardsdatascience.com/append-in-python-41c37453400).

In [113]:
friend.append(str(3))
print (friend)

TypeError: 'str' object is not callable

#### Como podemos localizar algum elemento específico?

In [114]:
friend.index('Anne')

1

#### É considerada boa prática fazer listas com apenas um tipo de informação, ou seja, adicionar o número 3 (mesmo que em formato de string) na lista friend, não é considerado uam boa prática.

#### podemos ainda remover um elemento.

In [115]:
lst = [1, 2, 3]
for i in lst[:]:
    for i in lst[:]:
        print(i, lst)
        lst.remove(i)

1 [1, 2, 3]
2 [2, 3]
3 [3]

In [116]:
#friend.remove(2)
#friend.remove('Rolf')
friend

['Rolf', 'Anne', 'Bob']

#### Vamos trabalhar com uma lista de números agora.

In [117]:
import random
lista_teste = random.sample(range(1, 100), 10)
sum(lista_teste)

585

In [118]:
len(lista_teste)

10

### Que tal adiconarmos uma coisa diferente, chamada ['for loop'](https://realpython.com/python-for-loop/).

#### Vamos criar uma estrutura [`for`](https://docs.python.org/3/tutorial/controlflow.html).

In [119]:
for i in range (0, len(friend)):
    print (friend[i])

Rolf
Anne
Bob

In [120]:
for amigo in friend:
    print(amigo)

Rolf
Anne
Bob

#### Podemos fazer um loop duplo?

In [121]:
idade = [12, 14, 10]
for i in range (0, len(friend)):
    for j in range (0, len(idade)):
        print (friend[i], ' ', idade[j])

Rolf   12
Rolf   14
Rolf   10
Anne   12
Anne   14
Anne   10
Bob   12
Bob   14
Bob   10

#### Podemos fazer uma lista de [listas](https://www.geeksforgeeks.org/python-list/).

In [122]:
friends = [["Rolf", 24], ["Bob", 30], ["Anne", 27]]
print(friends[0][1])  # 24
print(friends[1][0])  # Bob

24
Bob

#### "Tem como remover apenas 'Rolf'", você pergunta?

In [123]:
lst = friends
#lst.remove[["Rolf"]]    
#del lst[0]
#lst

#### Como faço para adicionar uma nova lista em uma lista de listas?

In [124]:
lst.append(['Maria', 29])
lst

[['Rolf', 24], ['Bob', 30], ['Anne', 27], ['Maria', 29]]

### Já ouviu falar em [tuplas](https://www.tutorialspoint.com/python/python_tuples.htm)?

#### Uma tupla é uma coleção de objetos ordenados e imutáveis. tuplas são sequências, assim como listas. As diferenças entre tuplas e listas são: 

- As tuplas não podem ser alteradas, 
- Ao contrário das listas e as tuplas usam parênteses, enquanto as listas usam colchetes.

In [125]:
amigos_novos = ('João', 'Lindomar')

#### Tenta remover 'João'.

In [126]:
 amigos_novos.remove('João')

AttributeError: 'tuple' object has no attribute 'remove'

#### Por que trabalhamos com tuples?

####  <span style = "color:blue">Prática Independente.</span>

1. Vocês terão 15 minutos para essa tarefa. 
2. Vocês receberão duas listas e sua tarefa é encontrar os elementos comuns em ambas, salvando-os em uma terceira lista.
3. A lista de elementos comuns não pode conter elementos repetidos.
4. As listas são:
    1. lista1 = [1, 100, 23, 40, 23, 50, 50, 49, 50]
    2. lista2 = [30, 50, 80, 70, 40, 40, 34, 32, 40, 50]

####  <span style = "color:red">Código Original.</span>
<!---
lista1 = [1, 100, 23, 40, 23, 50, 50, 49, 50]
lista2 = [30, 50, 80, 70, 40, 40, 34, 32, 40, 50]
    
set1 = set(lista1)
set2 = set(lista2)
set3 = set1.intersection(set2)
set3
-->

### Conjuntos.

#### Em Python, um [Conjunto](http://theautomatic.net/2019/05/29/all-about-python-sets/#:~:text=We%20can%20test%20if%20two,normal%20%E2%80%9C%3D%3D%E2%80%9D%20operator.&text=Notice%20%E2%80%93%20since%20sets%20are%20unordered,same%20elements%2C%20regardless%20of%20order.) é uma coleção não ordenada de elementos únicos.

#### [Conjuntos]() são declarados com chaves `{}` e novos elementos podem ser adicionados com o método [`.add()`](https://www.geeksforgeeks.org/set-add-python/).

In [128]:
#como declarar?
amigos_mala = {'Maria', 'Luciana'}

#adicionar novos elementos
amigos_mala.add('Marcos')
amigos_mala.add('Marta')
print(amigos_mala)

{'Luciana', 'Maria', 'Marta', 'Marcos'}

#### Também é possível remover elementos.

In [129]:
amigos_mala.remove('Marta')
print(amigos_mala)

{'Luciana', 'Maria', 'Marcos'}

In [130]:
#### Ao adicionar novos elementos sua posição será aleatória.

In [131]:
amigos_mala.add('Pedro')
print(amigos_mala)

{'Luciana', 'Maria', 'Pedro', 'Marcos'}

#### Por que trabalhos com [`set`](https://realpython.com/python-sets/)?

##### Vamos criar um novo `set`.

In [132]:
amigos_DH = {'Luis', 'Marcos', 'Julia', 'Liz'}

In [133]:
mala_mas_nao_DH = amigos_mala.difference(amigos_DH)
print (mala_mas_nao_DH)

{'Luciana', 'Maria', 'Pedro'}

#### Vemos quais amigos exclusivos em ambos os `sets` com o método [`.symmetric_difference()`](https://beginnersbook.com/2019/04/python-set-symmetric_difference-method/).

In [134]:
nao_esta_ambos = amigos_mala.symmetric_difference(amigos_DH)
nao_esta_ambos

{'Julia', 'Liz', 'Luciana', 'Luis', 'Maria', 'Pedro'}

#### A intersecção é feita com o método [`.intersection()`](https://www.geeksforgeeks.org/intersection-function-python/).

In [135]:
interseccao = amigos_mala.intersection(amigos_DH)
interseccao

{'Marcos'}

#### A união dos conjuntos é realizada com o método [`.union()`](https://www.geeksforgeeks.org/union-function-python/).

In [136]:
uniao = amigos_mala.union(amigos_DH)
uniao

{'Julia', 'Liz', 'Luciana', 'Luis', 'Marcos', 'Maria', 'Pedro'}

#### Como a manipulação de listas pode se beneficiar dessas operações?

In [137]:
lista = ['Julia', 
         'Liz', 
         'Luciana', 
         'Luis', 
         'Maria', 
         'Julia', 
         'Liz', 
         'Luciana', 
         'Luis', 
         'Maria']

lista2 = ['Julia', 
          'Liz', 
          'Luciana2', 
          'Luis2', 
          'Maria2']

interseccao_list = set(lista).intersection(set(lista2))
interseccao_list

{'Julia', 'Liz'}

### Dicionário.

#### Em Python, um [Dicionário](https://docs.python.org/3/c-api/dict.html?highlight=dictionary#dictionary-objects) é uma estrutura de dados que é mais geralmente conhecida como uma [matriz associativa](https://en.wikipedia.org/wiki/Associative_array). 

#### Um [dicionário](https://realpython.com/python-dicts/) consiste em uma coleção de pares de valores-chave. Cada par de valor-chave mapeia a chave para seu valor associado. Ele pode ser declarado com um par `chave: valor`.

In [138]:
friend_ages = {"Rolf": 24, "Adam": 30, "Anne": 27, 'Zé': 24}

#### Como encontrar valores em um dicionário?

In [139]:
print(friend_ages['Zé'])

24

#### Como adicionar mais elementos?

In [140]:
friend_ages['Breno'] = 33
friend_ages

{'Rolf': 24, 'Adam': 30, 'Anne': 27, 'Zé': 24, 'Breno': 33}

#### Outros comandos que podem ajudar:

In [141]:
#friend_ages.keys()
#friend_ages.values()
#friend_ages.items()

#### O método [`.values()`](https://www.geeksforgeeks.org/python-dictionary-values/#:~:text=values()%20is%20an%20inbuilt,available%20in%20a%20given%20dictionary.&text=Returns%3A,stored%20in%20a%20reversed%20manner.) retorna uma lista de todos os valores disponíveis em um determinado dicionário.

In [142]:
friend_ages.values()

dict_values([24, 30, 27, 24, 33])

#### O método [`popitem()`](https://www.programiz.com/python-programming/methods/dictionary/popitem) vai remover e retornar o último par de elementos (chave, valor) inserido no dicionário.

In [143]:
key, value = friend_ages.popitem()

#### O método [`.item()`](https://www.tutorialspoint.com/python/dictionary_items.htm) retorna uma lista de pares de tupla de dict (chave, valor).

In [144]:
friend_ages.items()

dict_items([('Rolf', 24), ('Adam', 30), ('Anne', 27), ('Zé', 24)])

In [145]:
len(friend_ages)

4

#### Podemos alterar o valor de uma das chaves.

In [146]:
friend_ages["Rolf"] = 25
print(friend_ages)

{'Rolf': 25, 'Adam': 30, 'Anne': 27, 'Zé': 24}

#### Pademos ainda converter uma lista de tuples em um dicionário, utilizando a função [`dict`](https://www.programiz.com/python-programming/methods/built-in/dict).

In [147]:
friends = [("Rolf", 24), ("Adam", 30), ("Anne", 27)]
friend_ages1 = dict(friends)
print(friend_ages)

{'Rolf': 25, 'Adam': 30, 'Anne': 27, 'Zé': 24}

In [148]:
#friend_ages['Rolf']
friend_ages1

{'Rolf': 24, 'Adam': 30, 'Anne': 27}

####  <span style = "color:blue">Prática Independente.</span>

1. Vamos trabalhar com o dicionário `friend_ages`.
2. Imprima somente os nomes dos amigos com idade igual ou superior à 25.

####  <span style = "color:red">Código Original.</span>
<!---
friends_adultos = {k: v for (k,v) in friend_ages.items() if v > 25}
friends_adultos
-->

### Essa parte é extra para vocês estudarem após a aula

#### Estruturas [`while`](https://realpython.com/python-while-loop/) e [`if`.](https://www.guru99.com/if-loop-python-conditional-structures.html#:~:text=Python%20if%20Statement%20is%20used,code%20for%20the%20else%20condition.)

In [152]:
import random
lista_teste = random.sample(range(1, 100), 10)

while len(lista_teste) > 5:
    print("A lista atual é:", lista_teste)
    
    user_input = int(input('Digite um número para ser excluído: '))
    
    if user_input in lista_teste:
        lista_teste.remove(user_input)
        
print("Vamos parar por aqui")

A lista atual é: [27, 70, 86, 9, 77, 21, 89, 38, 64, 74]

Digite um número para ser excluído:  27

A lista atual é: [70, 86, 9, 77, 21, 89, 38, 64, 74]

Digite um número para ser excluído:  70

A lista atual é: [86, 9, 77, 21, 89, 38, 64, 74]

Digite um número para ser excluído:  86

A lista atual é: [9, 77, 21, 89, 38, 64, 74]

Digite um número para ser excluído:  9

A lista atual é: [77, 21, 89, 38, 64, 74]

Digite um número para ser excluído:  77

Vamos parar por aqui

In [153]:
friends = [("Rolf", 25), 
           ("Anne", 37), 
           ("Charlie", 31), 
           ("Bob", 22)]

for name, age in friends:  
    print(f"{name} is {age} years old.")

Rolf is 25 years old.
Anne is 37 years old.
Charlie is 31 years old.
Bob is 22 years old.

In [154]:
cars = ["ok", 
        "ok", 
        "ok", 
        "faulty", 
        "ok", 
        "ok"]

for status in cars:
    if status == "faulty":
        print("Stopping the production line!")
        break

    else:
        print("All cars built successfully. No faulty cars!")

All cars built successfully. No faulty cars!
All cars built successfully. No faulty cars!
All cars built successfully. No faulty cars!
Stopping the production line!